html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: #242F3E;
}

#root {
  text-align: left;
}

.Chart {
  display: inline-block;
}

.Chart .main {
}

.Chart .map {
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.out-left, .out-right {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  flex: none;
  z-index: 1;
}

.out-left {
  left: 0;
}

.out-right {
  right: 0;
}

.thumb {
  z-index: 2;
  position: relative;

  display: flex;
  flex: 1;
}

.thumb .center {
  border-right: none;
  border-left: none;
  border-top: 1.5px solid rgba(64, 86, 107, 0.5);
  border-bottom: 1.5px solid rgba(64, 86, 107, 0.5);
  cursor: pointer;
  flex: 1;
}

.thumb .left, .thumb .right {
  border-top: 1.5px solid rgba(64, 86, 107, 0.5);
  border-bottom: 1.5px solid rgba(64, 86, 107, 0.5);
  width: 15px;
  cursor: col-resize;
  flex: none;
}

.thumb .left {
  border-left: 5px solid rgba(64, 86, 107, 0.5);
  left: 0;
}

.thumb .right {
  border-right: 5px solid rgba(64, 86, 107, 0.5);
  right: 0;
}
