html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: rgba(36, 47, 62, 1);
}

#root {
  text-align: center;
}

.Chart {
  display: inline-block;
  color: rgba(84, 103, 120, 1);
  font-family: sans-serif;
}

.Chart .main {
}

.Chart .map {
  position: relative;
}

.Chart .time-row {
  border-top: 1px solid rgba(84, 103, 120, 0.5);
}

.time {
  display: inline-block;
  font-weight: 400;
  font-size: 0.85em;
  text-align: center;
  padding-top: 0.5em;

  /* font-size: 8px; */
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.out-left, .out-right {
  position: relative;
  background-color: rgba(30, 41, 54, 0.75);
  flex: none;
  z-index: 1;
}

.out-left {
  left: 0;
}

.out-right {
  right: 0;
}

.thumb {
  z-index: 2;
  position: relative;
  border-style: solid;
  border-color: rgba(92, 126, 152, 0.5);
  border-width: 1.5px 0px 1.5px 0px;
  display: flex;
  flex: 1;
}

.thumb .center {
  cursor: pointer;
  flex: 1;
}

.thumb .left, .thumb .right {
  width: 15px;
  cursor: col-resize;
  flex: none;
}

.thumb .left {
  border: inherit;
  border-width: 0px 0px 0px 5px;
  left: 0;
}

.thumb .right {
  border: inherit;
  border-width: 0px 5px 0px 0px;
  right: 0;
}
